In [108]:
import yfinance as yf
import numpy as np
import pandas as pd

class stock:
    def __init__(self, ticker):
        self.stock_obj = yf.Ticker(ticker)
        self.dividends =  self.stock_obj.dividends['2022-01-01':].iloc[-4:].sum()/2
        self.price = self.stock_obj.history(start = "2024-01-01")['Close'].iloc[-1]
        self.eps = (self.stock_obj.financials.loc['Basic EPS'].iloc[0] 
                    if not np.isnan(self.stock_obj.financials.loc['Basic EPS'].iloc[0]) 
                    else self.stock_obj.financials.loc['Basic EPS'].iloc[1])
        self.PE = self.price / self.eps
        self.dividend_ratio = self.dividends / self.price
# define a stock object with PE and dividend yield

In [109]:
sp500 = pd.read_csv("sp500.csv")     # read the stock lists
russell = pd.read_csv("Russell3000.csv")

In [110]:
stock_list = list(set(list(russell['ticker']) + list(sp500['ticker'])))

In [112]:
tic1, PE, div = [], [], []
price = []


for i in stock_list:
    try:
        ticker = stock(i)
        tic1.append(i)
        PE.append(ticker.PE)
        div.append(ticker.dividend_ratio)
        price.append(ticker.price)
    except:
        print(i + "is delisted")

CTIC: No timezone found, symbol may be delisted

CTICis delisted

C:\Users\02221\AppData\Local\Temp\ipykernel_20424\1253059757.py:13: RuntimeWarning: divide by zero encountered in scalar divide
  self.PE = self.price / self.eps

In [113]:
data = {'ticker': tic1, 'PE': PE, 'div_ratio': div, 'price':price}
df = pd.DataFrame(data)
df

     ticker          PE  div_ratio       price
0      KALV   -3.891892   0.000000   12.960000
1      MCRI   14.402174   0.089057   66.250000
2       BIO   -2.615650   0.000000  318.559998
3        MQ  -18.411765   0.000000    6.260000
4       BNL   23.569443   0.065999   16.969999
...     ...         ...        ...         ...
2438    UIS   -4.082802   0.000000    6.410000
2439   CERE  -18.405173   0.000000   42.700001
2440    SXI   12.481734   0.000000  146.910004
2441    EFC   -8.979021   0.000000   12.840000
2442    KRG -369.666672   0.000000   22.180000

[2443 rows x 4 columns]

In [114]:
df.sort_values('PE').to_csv('output.csv')

In [122]:
df = df[(df['PE'] >  0) & (df['div_ratio'] > 0.05) & (df['PE'] < 10) ]

In [128]:
df.sort_values('PE').to_csv("value_stock.csv")

In [131]:
df.sort_values('PE').head(10)

    ticker        PE  div_ratio       price
735    BRY  2.106583   0.144345    6.720000
242    MPW  2.286667   0.256560    3.430000
667   CHRD  2.589550   0.075381  157.600006
818    ASC  4.146006   0.076412   15.050000
887   GOGL  4.269565   0.050916    9.820000
578    OGN  4.639889   0.066866   16.750000
195    DVN  4.673413   0.067103   42.770000
379     WU  5.187234   0.077112   12.190000
408   HAFC  5.528528   0.054318   18.410000
323   FISI  6.002793   0.055840   21.490000